= render partial: 'nav'

%h1= @idea.name

%blockquote.pitch= @idea.description

%p.description= @idea.description

.presales
  .amount
    = currency @idea.sum_presales
    presales
  .backers
    = @idea.count_presales
    customers

%hr/

.prepurchase
  - if signed_in?
    - if presale = @idea.presale_for(current_user)
      %span.presale
        You have prepurchased #{currency presale.amount} of this
    - else
      %a{href: new_idea_presale_path(@idea.slug)} Prepurchase this idea for #{currency @idea.presale_amount}

  - else
    %a{href: new_user_session_path} Prepurchase