<!DOCTYPE html>
<html>
  <head>
    <title>ASM</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= render(partial: 'shared/analytics') %>

    <%= stylesheet_link_tag 'http://cloud.webtype.com/css/a3ef0e70-14ef-4a0a-ab95-f8b0d80f4893.css', media: 'all' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
